/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        180deg,
        rgba(138, 219, 171, 1) 13%,
        rgba(156, 156, 156, 1) 100%
    );
    min-height: 100vh;
}

/* Header */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-shadow: 0 2px 5px #65fdcf;
}

header a{
    text-decoration: none;
    position: relative;
}

header a::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, #65fdcf, transparent);
    transform: scaleX(0);
    transition: transform .5s ease;
}

header a:hover::after{
    transform: scaleX(1);
}

h1{
    color: white;
    cursor: pointer;
}

h1:hover{
    color: #65fdcf;
    transition: .7s;
}

header nav{
    display: flex;
    gap: 40px;
    margin-left: 40px;
}

header nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* Footer */
.footer{
    width: 80%;
    margin: auto;
    padding: 40px 70px;
    border-radius: 20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    color: white;
}

.phone{
    font-size: 40px;
    font-weight: bold;
}

.footer-newsletter form{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.footer-newsletter input{
    width: 260px;
    padding: 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.footer-newsletter button,
.footer-links button{
    padding: 12px;
    border: 1px solid #65fdcf;
    border-radius: 20px;
    color: white;
    background: transparent;
    cursor: pointer;
    width: auto;
    
    font-weight: bold;
}

.footer-newsletter button:hover,
.footer-links button:hover{
    background-color: #65fdcf1c;
    transform: scale(1.08);
    transition: .5s;
}

.apps{
    display: flex;
    gap: 10px;
}

.apps img{
    width: 140px;
}

.footer hr{
    margin: 30px 0;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 40px;
    color: white;
}

.footer-links a{
    display: block;
    margin-bottom: 14px;
    margin-top: 14px;
    color: white;
    text-decoration: none;

}

.footer-links a:hover{
    transition: 1s;
    transform: scale(1.02);
    color: #65fdcf;
}

.footer-social h2{
    margin-top: 30px;
}

.social-icons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.social-icons img:hover{
    transform: scale(1.1);
    filter: invert(88%) sepia(39%) saturate(312%) hue-rotate(96deg)
    brightness(103%) contrast(98%);
}

.footer-bottom{
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid #ccc;
    color: white;
}


/* Pantalla login */

.container-form{
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 50px;
}

.container-form h2{
    font-size: 7rem;
    color: white;
}

.container-form h2:hover{
    color: #65fdcff8;
    transition: .5s;
}

/* Formulario */

form{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

form input{
    padding: 6px;
    text-align: center;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

form button{
    padding: 6px;
    width: 180px;

    border: 1px solid #65fdcf;
    border-radius: 20px;

    color: white;
    background-color: transparent;

    cursor: pointer;
}

form button:hover{
    background-color: #65fdcf1c;
    transition: .5s;
    transform: scale(1.08);
}

/* Oculto */

.oculto{
    display: none;
}

/* Pantalla opciones */

.container-opciones{
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

.container-opciones h2{
    font-size: 7rem;
    color: white;
}

.container-opciones h2:hover{
    color: #65fdcff8;
    transition: .5s;
}

.container-opciones button{
    padding: 6px;
    width: 180px;

    border: 1px solid #65fdcf;
    border-radius: 20px;

    color: white;
    background-color: transparent;

    cursor: pointer;
}

.container-opciones button:hover{
    background-color: #65fdcf1c;
    transition: .5s;
    transform: scale(1.08);
}

/* Error */

#mensaje-error{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}